<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.DocDao">
	<select id="getList" resultType="Doc">
       select d.id, d.title, d.publish,
              case when min(a.stat) = 3       then 3 -- 결재 완료
                   when max(a.stat) in (0, 1) then 1 -- 작성 중
                   when (select count(*)
                           from approval
                          where doc_id = d.id
                            and approver = #{userId}
                            and stat = 2) = 1 then 0 -- 내 결재
                                              else 2 -- 결재 중
               end stat, d.author, e.name, e.dept_id, t.name dept, d.ts
         from doc d join emp e on e.id = d.author
                    join dept t on t.id = e.dept_id
                    join approval a on a.doc_id = d.id
        where d.author = #{userId}                   -- 내가 기안한 문서
           or d.id in (select doc_id
                         from approval
                        where approver = #{userId}   -- 내가 결재자인 문서
                          and stat != 0)
           or d.publish = true and stat = 3          -- 승인된 공지 문서
        group by a.doc_id
        order by stat, d.ts desc
        <if test="rows">limit #{rows}</if>
	</select>

	<update id="update" parameterType="Doc">
		update doc
		<set>
			<if test="(title != null) and (title != '')">title=#{title}, </if>
			<if test="(body != null) and (body != '')">body=#{body}, </if>
			<if test="true">publish=#{publish}</if>
		</set>
		where id=#{id}
	</update>
</mapper>