<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.DocDao">
	<select id="getList" resultType="Doc">
select c.id, c.author, d.name dept, e.name, c.title, c.publish, c.ts,
       case when s.n = 3    then 3
            when s.x &lt; 2 then 1
                            else 2 end stat  
  from doc c, emp e, dept d, approval a, (
       select doc.id, min(stat) n, max(stat) x
         from approval, doc
        where doc_id = doc.id
        group by doc_id) s
 where e.dept_id = d.id and c.author = e.id and c.id = a.doc_id and c.id = s.id
   and (c.author = #{empId} or a.approver = #{empId} and 0 &lt; a.stat or c.publish = true and s.n = 3)
	group by a.doc_id order by stat, c.id desc
	</select>

	<update id="update" parameterType="Doc">
		update doc
		<set>
			<if test="(title != null) and (title != '')">title=#{title}, </if>
			<if test="(body != null) and (body != '')">body=#{body}, </if>
			<if test="true">publish=#{publish}</if>
		</set>
		where id=#{id}
	</update>
</mapper>