<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.DocDao">
	<select id="getList" resultType="Doc">
       select d.id, d.author, p.name dept, e.name, d.title, d.publish, d.ts,
              case when s.i  =  3    then 3 -- 결재 완료
                   when s.a in (0,1) then 1 -- 작성 중
                                     else 2 -- 결재 중
               end stat
         from doc d join emp e on e.id = d.author
                    join dept p on p.id = e.dept_id
                    join approval a on a.doc_id = d.id
                    join (
                        select doc_id, min(stat) i, max(stat) a
                          from approval join doc on doc.id = doc_id
                      group by doc_id
                    ) s on s.doc_id = d.id
        where d.author = #{userId}                   -- 기안자
           or a.approver = #{userId} and a.stat != 0 -- 결재자
           or d.publish = true and s.i = 3           -- 공지
     group by a.doc_id
     order by stat, d.ts desc
	</select>

	<update id="update" parameterType="Doc">
		update doc
		<set>
			<if test="(title != null) and (title != '')">title=#{title}, </if>
			<if test="(body != null) and (body != '')">body=#{body}, </if>
			<if test="true">publish=#{publish}</if>
		</set>
		where id=#{id}
	</update>
</mapper>